.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 2px;
  marker-end: url(#arrow);
}

.node .root {
  fill: var(--accent-bold);
}

.node .work {
  fill: var(--accent-light); 
}

.node circle.root:hover {
  fill: var(--accent-hover-bold);
}

.node circle.work:hover {
  fill: var(--accent-hover-light);
}

.node circle:hover {
  cursor: pointer;
}

.node circle {
  r: 45;
  stroke: white;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
  fill: var(--text-primary);
  text-anchor: middle;
  pointer-events: none;
}

.view {
  display: flex;
  flex-direction: row;
}

#tree-container {
  height: 100%;
  width: 70%;
}

#node-detail {
  height: 100%;
  width: 28%;
}

.node-properties {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.property-item {
  display: contents;
}

.property-label {
  font-weight: bold;
}

.property-value {
  text-align: left;
}

.node-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-icon:hover {
  cursor: pointer;
  color: var(--text-primary);
}
